.App{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.main_wrapper{
    width: 1200px;
    display: grid;
    grid-template-columns: 500px 700px;
    column-gap: 50px;
}